name: Daily Job Mailer

on:
  schedule:
    - cron: '30 9 * * *'   # 3:00 PM IST
  workflow_dispatch:

jobs:
  send-mail:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install requests beautifulsoup4 pandas openpyxl

      - name: Send Email
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_TO:   ${{ secrets.EMAIL_TO }}
          USER_NAME:  ${{ secrets.STUDENT_NAMES }}
        run: python mailer.py
